{% extends "news/base.html"%}

{% block content %}
      <div>
        <h1>News</h1>
        <br>
        <div id="showmain">
          {% if articles %}
            {% for c in categories %}
            <div id=" {{c.name}}">
                <h2>{{c.name}}</h2>
                {% for a in c.articles.all %}
                <div id="{{a.id}}">
                    <h3>{{a.title}}</h3>
                    <p>{{a.pub_Date}}</p>
                    <p>{{a.body}}</p>
                    <div id="{{a.id}}">
                        <a id="" class="like-button"> Like</a>
                        <a class="comment-button">Comment</a>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
          {% else %}
            <p>No articles are available.</p>
          {% endif %}

      </div>

{% endblock %}
