{% extends "news/base.html"%}

{% block content %}
<div id="showmain">


    {%csrf_token%}
    {% if user.favouriteCats.exists %}
    {% for c in user.favouriteCats.all %}
    <div id="{{c.name}}">
        <h1 class="category-title">{{c.name}}</h1>
        <br>
        {% for a in articles.all %}
        {%if a.category == c%}
        <div id="{{a.id}}">
        {%include "news/commentSection.html"%}
        </div>
        <br>
        {%endif%}
        {% endfor %}

    </div>
    {% endfor %}
    {% else %}
    <p>You have not selected any favourite articles. Please do so in your profile page</p>
    {% endif %}

</div>

{% endblock %}
