{% extends "news/base.html"%}

{% block content %}
      <div>
        <h1>Profile</h1>
        <br>
        <div id="showmain">
            {% if member %}
            <h2>Username: </h2><p>{{member.username}}</p>
            <h2>E-mail:</h2><p> {{member.email}}</p>
            <h2>Date of Birth: </h2><p>{{member.DOB| date:'d/m/Y'}}</p>
            <h2>Favourite Categories:</h2>
            {% if member.favouriteCats.exists %}
            <ul id="profileFavCats">
                {% for c in member.favouriteCats.all %}
                <li>{{c.name}}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>User has no favourite categories</p>
            {% endif %}
            <div id="updateEmail">
                {% csrf_token %}
                <div>
                    <label for="email">Update email:</label>
                    <input type="email" id="email" name="email" value="{{member.email}}">
                </div>

            </div>
            <div class="form-group" id="updatePassword">
                <label for="loginPassf">Current Password</label>
                <input type="password" class="form-control" id="loginPass" name="currentPassword">

                <label for="loginPassf">New Password</label>
                <input type="password" class="form-control" id="loginPass" name="newPassword">
            </div>
            <div class="form-group">
                {%for cat in categories%}
                {%if cat in member.favouriteCats.all%}
                <input class="category" type="checkbox" value="{{cat.name}}" name="category" checked />
                {%else%}
                <input class="category" type="checkbox" value="{{cat.name}}" name="category"  />
                {%endif%}
                <label for="">{{cat.name}}</label>
                {%endfor%}
            </div>
            {% else %}
            <p>User does not exist</p>
            {% endif %}


        </div>
        

        

{% endblock %}
